<div class="footer mt-5 mb-3 text-muted text-center ">
    <p>Youpod est un projet OpenSource développé par <a href="https://twitter.com/Bigaston">Bigaston</a>, <a href="https://twitter.com/Phil_Goud">Phil</a> et <a href="https://twitter.com/PofMagicfingers">Pof</a>. Vous pouvez le retrouver sur <a href="https://github.com/Bigaston/youpod">Github</a>.</p>
    <a href="http://docs.youpod.io/confidentialite">Confidentialité</a>
</div>