<!doctype html>
<html lang="fr">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>YouPod</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/floating-labels/">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Favicons -->
<link rel="apple-touch-icon" href="static/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="static/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="static/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="static/manifest.json">
<link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="static/favicon.ico">
<meta name="msapplication-config" content="static/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<style>
   .activity {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
	}


      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .info {
    margin-bottom: 12px;
    text-align: center;
    }
    .footer {
      font-size: 80%;
    }
   
    .font-test{
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
	}

.apply-font{
		padding: 0.5rem;
		margin-block-end: 0;
	}

  .iconsadmin{
    text-align: center;
    margin-bottom: 50px;
  }
  .thead-dark {
    text-align: center;
    color: #fff;
    background-color: #2453AA;
    border-color: #2453AA;
  }
    
    </style>
    <!-- Custom styles for this template -->
    <link href="./static/floating-labels.css" rel="stylesheet">
</head>
  <body>
<div class="form-signin container">
  <div class="text-center mb-4">
    <img class="mb-4" src="./static/logo.png" alt="YouPod" width="300" height="69">
  
  <h1> Panneau d'administration</h1>
  <p>Youpod version {{ youpod_version }}</p>
  </div>
  <div class="activity lead">
    <h2>Statistiques</h2>
  </div>  
 
  <div class="row">
    <div class="col iconsadmin">
      <img src="./static/generated.png" alt="generated" width="40" height="40"><br>
     <b>{{ nb_gen_video }}</b><br>
      <small>vidéos générées</small>
    </div>
    <div class="col iconsadmin">
      <img src="./static/downloaded.png" alt="downloaded" width="40" height="40"><br>
     <b>{{ nb_save_video }}</b> Vidéos<br>
      <small>Stockées</small><br>
      <small><a href="" onclick="flushVideo()">Vider</a></small>      
    </div>
    <div class="col iconsadmin">
      <img src="./static/storage.png" alt="storage" width="40" height="40"><br>
     <b>{{ size_export_folder }}</b><br>
      <small>stockés sur le serveur</small>
    </div>
    <div class="col iconsadmin">
      <img  src="./static/feed.png" alt="generated" width="40" height="40"><br>
     <b>{{ nb_rss_feed }}</b><br>
      <small>flux différents</small>
    </div>
  </div>
  <div class="activity lead">
  <h2>File d'attente</h2>  
  </div>

  <div class="row waiting">
    <div class="col-2 "></div>
    <div class="col-2 ">
     <img class="mb" src="./static/waiting.png" alt="waiting" width="40" height="40"><br>
    </div>
    <div class="col-6 ">
     <b>{{ nb_waiting_video }}</b> Vidéos en attente<br>
     <small><a href="" onclick="flushList()">Vider</a><br>
    </div>
    <div class="col-2 "></div>

  </div>
  <br><br>
  <h3>En cours</h3>
    <table id="during" class="table table-sm table-hover table-borderless">
        <thead class="thead-dark">
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Titre/RSS</th>
            <th scope="col">Mail</th>
            </tr>
        </thead>
    </table>
    <h3>En attente</h3>
  <table id="queue" class="table table-sm table-hover table-borderless">
        <thead class="thead-dark">
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Titre/RSS</th>
            <th scope="col">Mail</th>
            <th scope="col">Priorité</th>
            </tr>
        </thead>
    </table>

    <div class="activity lead">
        <h2>Options</h2>  
    </div>

    <form class="form-signin" id="form_option" action="/admin/option" method="POST">

  <div class="info">
    <small>Voici les options qui vous permettent de pas aller toucher un fichier de config</small>
  </div>

    <div class="form-label-group" data-children-count="1">
        <input type="number" name="MAX_DURING" id="MAX_DURING" class="form-control" value="{{ MAX_DURING }}" placeholder="Nombre de traitements simultanés" required="" autofocus="">
        <label for="MAX_DURING">Nombre de traitements simultanés</label>
    </div>

    <div class="form-label-group" data-children-count="1">
        <input type="number" name="MAX_DURING_PREVIEW" id="MAX_DURING_PREVIEW" class="form-control" value="{{ MAX_DURING_PREVIEW }}" placeholder="Nombre de traitements simultanés" required="" autofocus="">
        <label for="MAX_DURING_PREVIEW">Nombre de traitements simultanés pour les previews</label>
    </div>

    <div class="form-label-group" data-children-count="1">
        <input type="number" name="KEEPING_TIME" id="KEEPING_TIME" class="form-control" value="{{ KEEPING_TIME }}" placeholder="Délai (en heure) pour télécharger le fichier" required="" autofocus="">
        <label for="KEEPING_TIME">Délai (en heure) pour télécharger le fichier</label>
    </div>

    <div class="form-group">
      <label for="MAIL_SERVICE">Service d'email</label>
      <select class="form-control" id="MAIL_SERVICE" name="MAIL_SERVICE">
        {{#IS_GMAIL}}
          <option value="gmail" selected>Gmail</option>
          <option value="smtp">SMTP</option>
        {{/IS_GMAIL}}
        {{^IS_GMAIL}}
          <option value="gmail">Gmail</option>
          <option value="smtp" selected>SMTP</option>
        {{/IS_GMAIL}}
      </select>
    </div>

    <div id="gmail_group" style="display: none;">
      <div class="form-label-group" data-children-count="1">
          <input type="email" name="GMAIL_ADDR" id="GMAIL_ADDR" class="form-control" value="{{ GMAIL_ADDR }}" placeholder="Adresse Gmail de votre bot" required="" autofocus="" data-kwimpalastatus="alive" data-kwimpalaid="1576839795350-6">
          <label for="GMAIL_ADDR">Adresse Gmail de votre site</label>
          <small class="form-text text-muted"><a href="https://github.com/Bigaston/youpod/wiki/Configurer-son-compte-mail">Explication sur comment configurer son compte Email</a></small>
      </div>

      <div class="form-label-group" data-children-count="1">
          <input type="text" name="GMAIL_PWD" id="GMAIL_PWD" value="{{ GMAIL_PWD }}"class="form-control" placeholder="Mot de passe du compte Gmail votre bot" required="" autofocus="" data-kwimpalastatus="alive" data-kwimpalaid="1576839795350-2">
          <label for="GMAIL_PWD">Mot de passe du compte Gmail votre site</label>
      </div>
    </div>

    <div id="smtp_group" style="display: none;">
      <div class="form-label-group" data-children-count="1">
          <input type="text" name="SMTP_HOST" id="SMTP_HOST" value="{{ SMTP_HOST }}"class="form-control" placeholder="Host de votre serveur SMTP" required="" autofocus="" data-kwimpalastatus="alive" data-kwimpalaid="1576839795350-2">
          <label for="SMTP_HOST">Host de votre serveur SMTP</label>
      </div>

      <div class="form-label-group" data-children-count="1">
          <input type="number" name="SMTP_PORT" id="SMTP_PORT" value="{{ SMTP_PORT }}"class="form-control" placeholder="Port de votre serveur SMTP" required="" autofocus="" data-kwimpalastatus="alive" data-kwimpalaid="1576839795350-2">
          <label for="SMTP_PORT">Port de votre serveur SMTP</label>
      </div>

      <div class="form-label-group" data-children-count="1">
          <input type="text" name="SMTP_USERNAME" id="SMTP_USERNAME" value="{{ SMTP_USERNAME }}"class="form-control" placeholder="Nom d'utilisateur de votre serveur SMTP" required="" autofocus="" data-kwimpalastatus="alive" data-kwimpalaid="1576839795350-2">
          <label for="SMTP_USERNAME">Nom d'utilisateur de votre serveur SMTP</label>
      </div>

      <div class="form-label-group" data-children-count="1">
          <input type="text" name="SMTP_PASSWORD" id="SMTP_PASSWORD" value="{{ SMTP_PASSWORD }}"class="form-control" placeholder="Mot de passe du compte Gmail votre bot" required="" autofocus="" data-kwimpalastatus="alive" data-kwimpalaid="1576839795350-2">
          <label for="SMTP_PASSWORD">Mot de passe de votre serveur SMTP</label>
      </div>
    </div>

    <div class="form-label-group" data-children-count="1">
        <input type="text" name="GEN_PWD" id="GEN_PWD" value="{{ GEN_PWD }}" class="form-control" placeholder="Mot de passe de l'instance (facultatif)" autofocus="" data-kwimpalastatus="alive" data-kwimpalaid="1576839795350-3">
        <label for="GEN_PWD">Mot de passe de l'instance (facultatif)</label>
    </div>

    <div class="form-label-group" data-children-count="1">
        <input type="text" name="API_PWD" id="API_PWD" value="{{ API_PWD }}"class="form-control" placeholder="Mot de passe de l'API" required="" autofocus="" data-kwimpalastatus="alive" data-kwimpalaid="1576839795350-4">
        <label for="API_PWD">Mot de passe de l'API</label>
    </div>

    <div class="form-check" style="margin-bottom: 1rem;">
      <input type="checkbox" class="form-check-input" name="ENABLE_YOUTUBE" id="ENABLE_YOUTUBE" 
      {{ #ENABLE_YOUTUBE }}
        checked
      {{ /ENABLE_YOUTUBE }}>
      <label class="form-check-label" for="ENABLE_YOUTUBE">Activer l'upload sur Youtube</label>
      <small class="form-text text-muted">Pensez à aller modifier le .env ou les variables d'environnement avec les accès à l'API</small>

    </div>

    <div class="form-label-group" data-children-count="1">
        <input type="text" name="GOOGLE_FONT_KEY" id="GOOGLE_FONT_KEY" value="{{ GOOGLE_FONT_KEY }}"class="form-control" placeholder="Mot de passe de l'API" required="" autofocus="" data-kwimpalastatus="alive" data-kwimpalaid="1576839795350-4">
        <label for="GOOGLE_FONT_KEY">Mot de passe de l'API Google Font</label>
        <small class="form-text text-muted"><a href="https://developers.google.com/fonts/docs/developer_api#APIKey">Récupérer votre clé</a></small>
    </div>

    <button class="btn btn-lg btn-primary btn-block" onclick="submitForm()">Sauvegarder</button>

    {{> footer}}

    </form>
</div>
        <script src="/static/admin.js"></script>
</body>
</html>
