<!doctype html>
<html lang="fr">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>YouPod</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/floating-labels/">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Favicons -->
<link rel="apple-touch-icon" href="static/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="static/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="static/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="static/manifest.json">
<link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="static/favicon.ico">
<meta name="msapplication-config" content="static/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- conditionnal fields -->
<script src="./static/conditional-field.min.js"></script>
<script type="text/javascript">
new ConditionalField({
  control: '.payment-checkbox',
  visibility: {
    'off': '.credit',
    'on': '.check'
  }
});

</script>

<style>
   .activity {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
	}

.blink {
    font-size : 200%;
    color : red;
    margin-right: 0.5rem;
      animation: blink 2s steps(5, start) infinite;
      -webkit-animation: blink 1s steps(5, start) infinite;
    }
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }
.noblink {
    font-size : 200%;
    color : grey;
    margin-right: 0.5rem;
   
    }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .info {
    margin-bottom: 12px;
    text-align: center;
    }
    .footer {
      font-size: 80%;
    }
    .switch{
      margin-left: 19%;
    }
    .font-test{
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
	}



	.apply-font{
		padding: 0.5rem;
		margin-block-end: 0;
	}

  .iconsadmin{
    text-align: center;
    margin-bottom: 50px;
  }
  .thead-dark {
    text-align: center;
    color: #fff;
    background-color: #2453AA;
    border-color: #2453AA;
  }
    
    </style>
    <!-- Custom styles for this template -->
    <link href="./static/floating-labels.css" rel="stylesheet">
</head>
  <body>
<div class="form-signin container">
  <div class="text-center mb-4">
    <img class="mb-4" src="./static/logo.png" alt="YouPod" width="300" height="69">
  
  <h1> Panneau d'administration</h1>
  </div>
  <div class="activity lead">
    <h2>Statistiques</h2>
  </div>  
 
  <div class="row">
     <div class="col-sm iconsadmin">
     <img class="mb-4" src="./static/waiting.png" alt="waiting" width="40" height="40"><br>
     <b>{{ nb_waiting_video }}</b><br>
      <small>vidéos en attente</small>
    </div>
    <div class="col-sm iconsadmin">
      <img class="mb-4" src="./static/generated.png" alt="generated" width="40" height="40"><br>
     <b>{{ nb_gen_video }}</b><br>
      <small>vidéos générées</small>
    </div>
    <div class="col-sm iconsadmin">
      <img class="mb-4" src="./static/downloaded.png" alt="downloaded" width="40" height="40"><br>
     <b>{{ nb_save_video }}</b><br>
      <small>vidéos à télécharger</small>
    </div>
    <div class="col-sm iconsadmin">
      <img class="mb-4" src="./static/storage.png" alt="storage" width="40" height="40"><br>
     <b>{{ size_export_folder }}</b><br>
      <small>stockés sur le serveur</small>
    </div>
    <div class="col-sm iconsadmin">
      <img class="mb-4" src="./static/feed.png" alt="generated" width="40" height="40"><br>
     <b>{{ nb_rss_feed }}</b><br>
      <small>flux différents</small>
    </div>
  </div>
  <div class="activity lead">
  <h2>File d'attente</h2>  
  </div>
    <button onclick="flushVideo()">Effacer toutes les vidéos à télécharger</button>
    <button onclick="flushList()">Vider la liste</button>
  <table id="queue" class="table table-sm table-hover table-borderless">
        <thead class="thead-dark">
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Titre</th>
            <th scope="col">Mail</th>
            <th scope="col">Priorité</th>
            </tr>
        </thead>
    </table>

    <div class="activity lead">
        <h2>Options</h2>  
    </div>

    <form action="/admin/option/MAX_DURING" method="POST">
        <label for="value">Nombre de vidéos en même temps</label>
        <input required type="number" name="value" value="{{ MAX_DURING }}" />
        <input type="submit" value="Mettre à jour" />
    </form>

    <form action="/admin/option/MAX_DURING_PREVIEW" method="POST">
        <label for="value">Nombre de préviews en même temps</label>
        <input required type="number" name="value" value="{{ MAX_DURING_PREVIEW }}" />
        <input type="submit" value="Mettre à jour" />
    </form>
    
    <form action="/admin/option/KEEPING_TIME" method="POST">
        <label for="value">Temps de concervation de la video</label>
        <input required type="number" name="value" value="{{ KEEPING_TIME }}" />
        <input type="submit" value="Mettre à jour" />
    </form>

    <form action="/admin/option/GMAIL_ADDR" method="POST">
        <label for="value">Adresse de votre compte Gmail</label>
        <input required type="email" name="value" value="{{ GMAIL_ADDR }}" />
        <input type="submit" value="Mettre à jour" />
    </form>

    <form action="/admin/option/GMAIL_PWD" method="POST">
        <label for="value">Mot de passe de votre compte Gmail</label>
        <input required type="password" name="value" />
        <input type="submit" value="Mettre à jour" />
    </form>

    <form action="/admin/option/GEN_PWD" method="POST">
        <label for="value">Mot de passe de l'instance (vide pour aucun)</label>
        <input required type="text" name="value" value="{{ GEN_PWD }}" />
        <input type="submit" value="Mettre à jour" />
    </form>

    <form action="/admin/option/API_PWD" method="POST">
        <label for="value">Mot de passe de l'API (obligatoire)</label>
        <input required type="text" name="value" value="{{ API_PWD }}" />
        <input type="submit" value="Mettre à jour" />
    </form>

</div>
        <script src="/static/admin.js"></script>
</body>
</html>
