<!DOCTYPE html>
<html>
    <head>
        <title>Youpod</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="./static/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Youpod</h1>
            <p>Générez votre vidéo pour les réseaux sociaux!</p>
        </header>

        <section>
            <h2>Bienvenue sur Youpod</h2>
            <p>Il y a actuellement <strong>{{ waiting_list }}</strong> vidéo(s) dans la liste d'attente. Une fois la vidéo générée, vous receverez un email contenant le lien pour la télécharger. Vous aurez alors <strong>{{ keeping_time }}H</strong> pour la télécharger.</p>
            
            <form action="/social/add" method="POST">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">

                <div class="form-label-group">
                    <input type="url" name="rss" id="rss" class="form-control" placeholder="URL de votre flux" required autofocus>
                    <label for="rss">URL de votre flux</label>
                </div>
                <button type="button" onclick="fetchFeed()" class="btn btn-info float-right" style="margin-bottom: 1rem;">Rechercher</button>
                <br>
                <div class="form-group ">
                    <select id="selectEp" name="selectEp" class="form-control" disabled required>
                        <option selected value="__last__">Dernier épisode</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="timestart">Début de la préview</label>
                    <input type="text" class="form-control" id="timestart" name="timestart" placeholder="00:00" maxlenght="6" required>
                </div>

                <div class="form-group">
                    <label for="timeend">Fin de la préview</label>
                    <input type="text" class="form-control" id="timeend" name="timeend" placeholder="00:00" maxlenght="6" required>
                </div>

                <div class="form-group">
                    <label for="email">Votre adresse email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="hello@example.com" required>
                </div>

                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
            <br>
            <p>Cet outil utilise le tutoriel venant <a href="https://alliesnumeriques.org/tutoriels/publier-votre-podcast-sur-youtube-la-methode-classe-avec-ffmpeg/" target="_blank">d'Alliés Numériques</a></p>
            <p>Pour votre information, votre adresse email est conservée dans la base de donnée le temps de la génération, puis est automatiquement supprimée une fois le mail envoyé.<br>Votre flux RSS lui reste dans la base de donnée.</p>
        </section>

        <footer>
            <p>Dev par Bigaston</p>
        </footer>

        <script src="/static/social.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
    </body>
</html>