<!doctype html>
<html lang="fr">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>YouPod</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/floating-labels/">
        <!--Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/nouislider.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

    <style>
        .activity {
       display: flex;
       flex-direction: row; 
       justify-content: center;
       align-items: center;
       margin-bottom: 1rem;
        }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .info {
    margin-bottom: 12px;
    }
    .footer {
      font-size: 80%;
    }

     .font-test{
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
     }

     .font-picker{
       width: 500px;
     }


     .apply-font{
       padding: 0.5rem;
       margin-block-end: 0;
     }

	 .slider {
		 margin-top: 50px;
		 margin-bottom: 50px;
	 }

	 .noUi-handle-upper > .noUi-tooltip {
		bottom: -150%;
	 }
    
    </style>
    <!-- Custom styles for this template -->
    <link href="/static/floating-labels.css" rel="stylesheet">
  <body>
    <form class="form-signin" action="/social/add" method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div class="text-center mb-4">
        <img class="mb-4" src="/static/logo.png" alt="YouPod" width="300" height="69">
      </div>
        <div class="activity lead">
          {{ waiting_list }} traitement(s) avant vous
      </div>    
      <div class="info">
        <small>Une fois la vidéo générée, vous receverez un email contenant le lien pour la télécharger. Vous aurez alors <strong>{{ keeping_time }}H</strong> pour la télécharger.</small>
      </div>

	  <center>

        <div class="switch">
        <p>
          <a href="/"><button class="btn btn-large" type="button">Générer une vidéo</button> </a>

          <button class="btn btn-large btn-primary" type="button">Générer un aperçu</button>
        </p>
        </div>
		</center>

      <div class="form-label-group">
        <input type="url" name="rss" id="rss" class="form-control" placeholder="URL de votre flux" required autofocus>
        <label for="rss">URL de votre flux</label>
      </div>
      <button type="button" onclick="fetchFeed()" class="btn btn-info float-right" style="margin-bottom: 1rem;">Rechercher</button>
    <br>
      <div class="form-group ">
            <select id="selectEp" name="selectEp" class="form-control" disabled required>
              <option selected value="__last__">Dernier épisode</option>
            </select>
      </div>

		<p id="infoTime">Pour définir les paramètres de temps, choisissez un épisode</p>
		<div id="audioSelector" style="display: none;">
			<p>Utilisez ce lecteur pour définir le début de votre extrait</p>
			<audio id="audioSelect" controls src="" style="width: 100%;"></audio>
			<center>
	  		<button class="btn btn-large btn-primary" onclick="setStart()" id="buttonSet" type="button">Définir le début de l'extrait</button>
			</center>

			<audio id="audioPreview"></audio>
			<div class="slider" id="slider"></div>
			<div class="slider" id="mini_slider"></div>

			      <div class="form-label-group">
        <input type="text" id="timestart" name="timestart" class="form-control" placeholder="00:00" required autofocus>
        <label for="timestart">Début de la vidéo</label>
      </div>

	<div class="form-label-group">
        <input type="number" id="duration" name="duration" class="form-control" placeholder="0" min="0" max="119" required autofocus>
        <label for="duration">Durée (En secondes, maximum 119s)</label>
      </div>

		<center>
	  <button class="btn btn-large btn-primary" onclick="playSound()" id="buttonPlay" type="button">Ecouter l'extrait</button>
	  </center> <br>
		</div>

      <div class="form-label-group">
        <input type="email" id="email" name="email" class="form-control" placeholder="Votre adresse mail" required autofocus>
        <label for="email">Votre adresse mail</label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Lancer la génération</button>
    {{> footer}}
</form>
<script src="https://cdn.jsdelivr.net/npm/wnumb@1.2.0/wNumb.min.js"></script>
<script src="/static/nouislider.min.js"></script>
<script src="/static/social.js"></script>
</body>
</html>
